* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-color: #d33232;
  height: 100vh;
  padding: 1px;
}
.content {
  margin: 70px auto;
  width: 800px;
  background-color: #fff;
  padding: 20px;
}
.title {
  background-color: #d33232;
  color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  font-weight: 500;
}

/* list 000000000000000000000000000000000*/
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.list .left {
  width: 100px;
}
.left p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}
.edit,
.delete {
  height: 39px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: none;
  padding: 3px 40px;
}
.edit {
  background-color: #555;
  margin-right: 15px;
}
.delete {
  background-color: #d33232;
}

/* form 00000000000000000000000000000000000 */
form{
  display: grid;
  grid-template-columns: 3fr 1.25fr;
  margin-top: 15px;
}
input{
  padding: 10px;
  outline: none;
  background: #eee;
  border: none;
}
button{
  
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: none;
  background: #19bb39;
}